certifi
chardet
click
Flask
idna
itsdangerous
Jinja2
joblib
jsonify
MarkupSafe
numpy
pandas
requests
scikit-learn
scipy
sklearn
threadpoolctl
urllib3
Werkzeug
wincertstore
gunicorn
