<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pizza.css') }}">  
    <title>Prediction</title>
</head>

<body>
    <h1>Eat & Enjoy !!!</h1>
    
    <div class="login">
        <h2>Pizza Liking Prediction</h2>
        <br>
        
        <form action="{{ url_for('pizza')}}" method="POST">
            
            <h4>Enter your age</h4>
            <input type="text" name="age" placeholder="age" required="required"/>
            <br>
            
            <h4>Enter your weight</h4>
            <input type="text" name="weight" placeholder="weight" required="required"/>
            <br>
            
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
            
        </form>
        <br>
        
        {{ prediction_text }}
        <br><br>
        
        <form action="{{ url_for('back')}}" method="POST">
            <button  type="submit" class="btn btn-primary">Back</button>
        </form>
        
    </div>
</body>
</html>